@import 'reset.css';
@charset 'UTF-8';

a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
}
button {
	border: none;
	background: none;
	margin: 0; padding: 0;
}
body{
	width: 100%;
	/*overflow: hidden;*/
	/*overflow-y: auto;*/
} 
/*header*/
	header {width: 100%;height: 50px;position: relative;}
	header .top {
		position: relative;
		width: 1100px; height: 100%;
		margin: 0 auto;
		line-height: 50px;
	}
	header .top-left {width: 100%; height: 100%;}
	/*top logo*/
		.top-left h1 {
			float: left;
			width: 90px; height: inherit;
			margin-right: 20px;
			background: url('../images/logo.png') no-repeat 0 center;
			background-size: 50px auto;
		}
		.top-left h1 a {
			margin-left: 55px;
			display: inline;
			text-align: right;
			font-size: 17px;
			font-weight: 700;
			letter-spacing: -2px;
		}
	/*top-menu*/
		.top-left .top-menu {
			float: left;
		}
		.top-menu li {
			display: inline-block;
			font-size: 14px;
			padding-right: 10px;
		}
		.top-menu li a {
			color: #888;
			font-weight: normal;
		}
	header .top-right {
		width: 300px; height: inherit;
		position: absolute; right: 0; top: 0;
		text-align: right;
	}
	/*login*/
		.top-right .login {
			font-size: 10px;
			border: 1px solid #ddd;
			padding: 4px 9px;
			margin-right: 19px;
		}
	/*total menu*/
		.top-right .total-menu-btn {
			position: relative;
			top: 1px;
			width: 20px; height: 20px;
			text-indent: -9999px;
			background: url('../images/total-menu-btn.png') no-repeat;
			background-size: 100%;
			opacity: .6;
		}
		.top-right .total-menu-btn:hover {opacity: 1;}
	header .home-menu {
		width: 1100px; height: inherit;
	}
	/*home-menu*/
		.home-menu>ul {
			position: absolute;
			z-index: 100;
			left: 50%; top: 100%;
			margin-left: -260px; margin-top: 30px;
		}
		.home-menu>ul>li:first-child {text-align: center;}
		.home-menu>ul>li {
			float: left;
			padding-right: 80px;
			position: relative;
		}
		.home-menu>ul>li>a {
			color: rgba(255, 255, 255, .6);
			font-size: 25px;
			transition: color .1s;
		}
		.home-menu>ul>li:hover>a {color: #fff;}
		.home-submenu {
			display: none;
			position: absolute; left: 0;
			width: 1100px;
		}
		.home-menu>ul>li:hover .home-submenu {display: block;}
		.home-submenu li{
			float: left;
			padding: 20px 30px 20px 0;
		}
		.home-submenu a {color: #fff;}
		.home-submenu a:hover {color: red;}


/*main*/
	main {width: 100%;}
	main .middle {width: 100%;}
	.middle .middle-top {width: 100%; height: 700px; background: pink;}
	/*middle-top*/
		.middle-top .preview {width: 100%; height: inherit;}
		.preview video {
			width: 120%; height: inherit;
			position: relative;
			left: 50%; transform: translateX(-50%);
		}
		.preview .preview-text {
			width: 1100px; margin: 0 auto;
			position: relative;
			top: -500px;
		}
		/*preview-text*/
			.preview-text h2 {color: #fff; font-size: 50px;font-weight: 700;}
			.preview-text .preview-desc {
				width: 350px; word-break: keep-all;
				color: #eee; font-size: 20px;
				padding: 15px 0 20px;
			}
			.preview-desc span {display: block;}
			.preview-text button {
				width: 120px; height: 40px;
				line-height: 40px;
				background: #fff; border-radius: 5px;
				color: #777; font-size: 16px;
				box-sizing: border-box;
				padding-right: 15px;
				position: relative;
			}
			.preview-text button:after {
				content: ""; display: block;
				width: 0px; height: 0px;
				border-left: 8px solid #000;
				border-top: 8px solid transparent;
				border-right: 8px solid transparent;
				border-bottom: 8px solid transparent;
				position: absolute;
				right: 1px; top: 11px;

			}
		.middle-top .slide {width: 1100px; margin: 0 auto;}
	.middle .middle-bottom {}
	/*middle-bottom*/


/*footer*/
	footer {width: 100%; height: 200px;background: #222;}
	footer .footer {width: 1100px; height: 100%; margin: 0 auto; display: flex;}
	.footer .footer-left {flex: 3;}
	/*footer-left*/
		.footer-left .footer-menu {width: 100%; padding: 40px 0;}
		.footer-menu li {display: inline-block;}
		.footer-menu li:first-child a {padding-left: 0;}
		.footer-menu li a {
			padding: 0 10px;
			color: #ddd; font-weight: 400; font-size: 15px;
			letter-spacing: -2px;
		}
		.footer-menu li a:hover {text-decoration: underline;}

		.footer-left .footer-link {width: 100%;}
		.footer-link a:hover {text-decoration: underline;}
		.footer-link a:first-child {padding-left: 0;}
		.footer-link a {
			display: inline-block;
			padding: 3px 5px;
			color: #888; font-size: 13px; font-weight: 200;
			letter-spacing: -1px;
		}
	.footer .footer-right {
		flex: 1;
		padding-top: 60px;
		position: relative; left: 30px;
	}
	/*footer-right*/
		.footer-right p {
			font-size: 13px; color: #888;
			letter-spacing: -2px; line-height: 20px;
		}
		.footer-right .copy {margin-top: 5px; color: #fff;}
		.footer-right .copy a{display: inline;color: #fff;}
		.footer-right .copy a:hover {text-decoration: underline;}