@charset 'UTF-8';
@import 'reset.css';

a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
}
button {
	border: none;
	background: none;
	margin: 0; padding: 0;
}
body{
	width: 100%;
	/*overflow: hidden;*/
	/*overflow-y: auto;*/
}
.clear {
	clear: both;
}
/*header*/
	header {width: 100%;height: 60px;}
	header .top {
		position: relative;
		width: 1100px; height: 100%;
		margin: 0 auto;
		line-height: 60px;
	}
	header .top-left {width: 100%; height: 100%;}
	/*top logo*/
		.top-left h1 {
			float: left;
			width: 90px; height: inherit;
			margin-right: 20px;
			background: url('../images/logo.png') no-repeat 0 center;
			background-size: 50px auto;
		}
		.top-left h1 a {
			margin-left: 55px;
			display: inline;
			text-align: right;
			font-size: 17px;
			font-weight: 700;
			letter-spacing: -2px;
		}
	/*top-menu*/
		.top-left .top-menu {
			float: left;
		}
		.top-menu li {
			display: inline-block;
			font-size: 14px;
			padding-right: 10px;
		}
		.top-menu li a {
			color: #888;
			font-weight: normal;
		}
	header .top-right {
		width: 300px; height: inherit;
		position: absolute; right: 0; top: 0;
		text-align: right;
	}
	/*login*/
		.top-right .login {
			font-size: 10px;
			border: 1px solid #ddd;
			padding: 4px 9px;
			margin-right: 19px;
		}
	/*total menu*/
		.top-right .total-menu-btn {
			position: relative;
			top: 1px;
			width: 20px; height: 20px;
			text-indent: -9999px;
			background: url('../images/total-menu-btn.png') no-repeat;
			background-size: 100%;
			opacity: .6;
		}
		.top-right .total-menu-btn:hover {opacity: 1;}
	header .home-menu {
		width: 1100px;
		margin: 0 auto;
	}
	/*home-menu*/
		.home-menu>ul {
			position: relative;
			z-index: 100;
			/* left: 50%; top: 100%; */
			/* margin-left: -260px; margin-top: 30px; */
			width: 100%;
			margin: 35px auto;
			padding-left: 285px;
			box-sizing: border-box;
		}
		/* .home-menu>ul>li:first-child {text-align: center;} */
		.home-menu>ul>li {
			display: inline-block;
			padding-right: 80px;
			position: relative;
		}
		.home-menu>ul>li>a {
			color: rgba(255, 255, 255, .5);
			font-size: 25px;
			transition: color .1s;
		}
		.home-menu>ul>li:hover>a {color: #fff;}
		.home-submenu {
			display: none;
			position: absolute; left: 0;
			width: 380px;
		}
		.home-menu>ul>li:hover .home-submenu {display: block;}
		.home-submenu li{
			float: left;
			padding: 20px 30px 20px 0;
		}
		.home-submenu a {color: #fff;}
		.home-submenu a:hover {color: red;}


/*main*/
	main {width: 100%;}
	main .middle {width: 100%; padding-bottom: 150px;}
	.middle .middle-top {width: 100%; height: 730px; background: #222; margin-bottom: 166px; position: relative;}
	/*middle-top*/
		.middle-top .preview {width: 100%; height: inherit; overflow: hidden;}
		.middle-top .preview:after {
			content: ""; display: block;
			width: 100%; height: 100%;
			background: radial-gradient(red, yellow);
		}
		.middle-top .preview video {
			height: 159%;
			margin: 0 auto;
			display: block;
			position: relative; 
			top: -226px;
		}
		.middle-top .preview .preview-text {
			width: 1100px; margin: 0 auto;
			position: relative;
			top: -957px;
		}
		/*preview-text*/
			.preview-text:before {
				content: ""; display: block;
				width: 2066px; height: 2500px;
				position: absolute; top: 50%; left: 50%;
				margin-left: -1033px; margin-top: -1250px;
				background: radial-gradient(rgba(0,0,0,0), #222 62%);
			}
			.preview-text h2 {color: #fff; font-size: 50px;font-weight: 700;position: relative;}
			.preview-text .preview-desc {
				width: 350px; word-break: keep-all;
				color: #eee; font-size: 20px;
				padding: 15px 0 20px;
				position: relative;
			}
			.preview-desc span {display: block;}
			.middle-top .preview-text button {
				width: 120px; height: 40px;
				line-height: 40px;
				background: #fff; border-radius: 5px;
				color: #777; font-size: 16px;
				box-sizing: border-box;
				padding-right: 15px;
				position: relative;
			}
			.middle-top .preview-text button:after {
				content: ""; display: block;
				width: 0px; height: 0px;
				border-left: 8px solid #000;
				border-top: 8px solid transparent;
				border-right: 8px solid transparent;
				border-bottom: 8px solid transparent;
				position: absolute;
				right: 1px; top: 11px;
			}
		/*slide*/
			.middle-top .slide-wrap {width: 1100px; margin: 0 auto; position: relative; top: -274px;}
			.middle-top .slide {width: 1100px; position: absolute; padding-top: 30px;}
			.middle-top .slide-btn {top: 30px;}
			.middle-top .poster-thumb,
			.middle-bottom .poster-thumb {
				position: relative;
				width: 100%; height: 100%;
				border: 1px solid rgba(0, 0, 0, .2);
				border-radius: 10px;
				overflow: hidden;
			}
			.poster-thumb .ratio {
				position: absolute; bottom: 0;
				width: 100%; height: 30px;
				padding-top: 266px;
				text-align: center;
				color: #fff; font-size: 15px;
				background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.6) 80%,rgba(0,0,0,1) 100%);
			}
			.ratio span {font-weight: 700;}
			.poster-thumb .poster-detail {
				opacity: 0;
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				color: #eee;
				background-color: rgba(63, 62, 62, 0.527);
				z-index: 10;
				overflow: hidden;
				transition: opacity .3s; transition-delay: .5s;
			}
			.poster-detail ul {padding: 20px 30px 0 30px; font-size: 14px; line-height: 20px;}
			.poster-detail li span:first-child {padding-right: 5px; vertical-align: top; color: #999; text-shadow: 0 0 1px #333;}
			.poster-detail li span:last-child {display: inline-block; width: 109px;}
			.poster-detail div {
				width: 100%; line-height: 50px;
				background-color: #000;
				position: absolute; bottom: 0;
				text-align: center;
			}
			.middle-top .poster {position: relative; top: 0; transition: top .3s; transition-delay: .5s; }
			.middle-top .poster:hover {top: -12px; transition: top .3s; transition-delay: .5s;}
			.poster-thumb:hover .poster-detail{opacity: 1; transition: opacity .3s; transition-delay: .5s;}
			/* slide common css */
			.slide-wrap {position: relative;}
			.slide {position: relative; overflow: hidden; z-index: 10;}
			.slide ol {width: 1000%;}
			.slide li.poster {display: inline-block; margin-right: 17px; width: 202px; height: 296px;cursor: pointer;}
			.slide .poster img {width: 100%; height: 100%;}
			.slide .poster .poster-title {width: 100%; text-align: center;padding-top: 17px;font-size: 19px;font-weight: 700;}
			.slide .poster .poster-title:hover {text-decoration: underline;}
			.slide-btn {width: 1100px; height: 296px; position: absolute; top: 0;}
			.slide-btn button {
				width: 50px; height: 50px;
				position: absolute; top: 118px;
				z-index: 100; 
				cursor: pointer; color: transparent;
				background-color: #fff; border-radius: 50%;
				box-shadow: 0 0 4px rgba(0, 0, 0, .2);
			}
			.slide-btn button::after {
				content: ""; display: block;
				width: 10px; height: 10px;
				border-top: 3px solid #000; border-right: 3px solid #000;
				position: absolute; top: 19px; left: 17px;
			}
			.slide-btn button.prev {left: -25px; transform: rotate(-135deg); transition:left .2s;}
			.slide-btn button.prev:hover {left: -35px;}
			.slide-btn button.next {right: -25px; transform: rotate(45deg);transition:right .2s;}
			.slide-btn button.next:hover {right: -35px}
	 .middle .middle-bottom {width: 1100px; margin: 0 auto;} 
	/*middle-bottom*/
		.middle-bottom .search {
			width: 656px; margin: 0 auto 93px;
			position: relative;
		}
		.search input {
			display: block; width: 100%;
			padding: 11px 0;
			border: none; border-bottom: 3px solid #333;
			line-height: 34px; font-size: 29px;
		}
		::placeholder {color: #aaa;font-weight: 100;}
		.search input:focus {outline: none;}
		.search button {
			position: absolute;
			right: 0; top: 16px;
		}
		.search button i {font-size: 27px; color: #777;}
		/*middle-box*/
			/* slide */
			.middle-box .box-title {
				font-size: 30px;font-weight: 700;
				line-height: 47px;letter-spacing: -1px;
				margin-bottom: 10px;
				height: 50px;
				display: block;
				position: relative;
			}
			.box-title span {
				display: inline-block;
				height: 50px; width: 143px;
				margin-right: 13px;
				text-indent: -9999px;
				background: url('../images/box/kakaopage.png') no-repeat left center;
				background-size: contain;
			}
			.row2 .box-title span{background-image: url('../images/box/tving.png'); width: 100px;}
			.middle-box>div[class^="row"] {margin-bottom: 66px; position: relative;}
			.middle-box .poster img {transition: transform .2s linear;}
			.middle-box .poster:hover img{transform: scale(1.2); transition: transform .2s linear;}
			/* box-cotent */
			.middle-box .box-content {
				float: left;
				width: 530px;
				margin: 0 20px;
				/*box-sizing: border-box;*/
			}
			.middle-box .box-content:nth-child(odd) {margin-left: 0;}
			.middle-box .box-content:nth-child(even) {margin-right: 0;}
			.box-content .more {
				position: absolute; right: 0; bottom: 5px;
				width: 90px; line-height: 32px;
				border: 1px solid #ddd;
				border-radius: 20px;
				font-size: 14px; font-weight: normal;
				text-indent: 15px;
				cursor: pointer;
				transition: all .4s;
				display: inline-block;
			}
			.box-content .more:hover {border-color: #888;}
			.box-content .more:after {
				content: ""; display: inline-block;
				width: 6px; height: 6px;
				border-top: 2px solid #444; border-right: 2px solid #444;
				position: absolute; top: 50%; margin-top: -5px; margin-left: 10px;
				transform: rotate(45deg);
			}
			.box-content.row3 {margin-bottom: 51px;}
				/* hot clip */
					.row3 .preview {
						background-color: saddlebrown;
						width: 100%; height: 298px;
						border-radius: 10px;
						overflow: hidden;
					}
					.middle-box .preview .preview-text {
						width: 88%; margin: 20px auto;
						position: relative;
						top: -138px;
					}
					/*preview-text*/
					.middle-box .preview-text h2 {color: #fff; font-size: 20px;font-weight: 700;}
					.middle-box .preview-text .preview-desc {
						width: 100%; word-break: keep-all;
						color: #eee; font-size: 17px;
						padding: 5px 0 15px;
						opacity: .7;
					}
					.middle-box .preview-text button {
						width: 100px; height: 30px;
						line-height: 30px;
						background: #fff; border-radius: 2px;
						 font-size: 15px;
						font-weight: 700;
						box-sizing: border-box;
						text-align: center;
					}
				/* news */
					.row3 .news-table {width: 100%;}
					.news-table tr{height: 68px; display: block; margin: 9px 0;}
					.news-table tr:first-child {margin-top: 0;}
					.news-table tr:last-child {margin-bottom: 0;}
					.news-table tr td {display: inline-block;}
					.news-table tr td:first-child {
						width: 380px; height: 100%;
						box-sizing: border-box;
						margin: 8px 30px 0 0;
						/*display: inline-block;*/
						float: left;
					}
					.news-table tr td:last-child {
						width: 120px; height: 67px;
						box-sizing: border-box;
						border: 1px solid #ddd;
						border-radius: 10px;
						overflow: hidden;
					}
					.news-table tr td:last-child {float: right;}
					.news-table td a{
						font-size: 17px;
						word-break: keep-all;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
					.news-table span {
						font-size: 15px; color: #888;
						display: inline-block;
						margin-top: 10px;
					}
					.news-table img {
						width: 100%;
					}
			.box-content.row4 {margin-bottom: 51px;}
				.row4 li {width: 255px; height: 243px; float: left;}
				.row4 li:nth-child(odd) {margin-right: 20px;}
				.row4 li a:first-of-type {
					width: 255px; height: 132px;
					box-sizing: border-box;
					border: 1px solid #ddd;
					border-radius: 10px;
					overflow: hidden;
				}
				.row4 li a:last-of-type{
					font-size: 17px;
					word-break: keep-all;
					line-height: 1.4;
					/*height: 47px;*/
					margin-top: 9px;
				}
				.box-content a:hover {text-decoration: underline;}
				.row4 li span {
					font-size: 15px; color: #888;
					display: inline-block;
					margin-top: 7px;margin-bottom: 36px;
				}
				.blog-list img, .magz-list img {width: 100%;}
				/* magz, brunch */

/*footer*/
	footer {width: 100%; height: 165px;background: #222;}
	footer .footer {width: 1100px; height: 100%; margin: 0 auto; display: flex;}
	.footer .footer-left {flex: 3;}
	/*footer-left*/
		.footer-left .footer-menu {width: 100%; padding: 35px 0 28px 0;}
		.footer-menu li {display: inline-block;}
		.footer-menu li:first-child a {padding-left: 0;}
		.footer-menu li a {
			padding: 0 12px;
			color: #ddd; font-weight: 400; font-size: 13px;
			letter-spacing: -2px;
		}
		.footer-menu li a:hover {text-decoration: underline;}

		.footer-left .footer-link {width: 100%;}
		.footer-link a:hover {text-decoration: underline;}
		.footer-link a:first-child {padding-left: 0;}
		.footer-link a {
			display: inline-block;
			padding: 3px 6px;
			color: #888; font-size: 12px; font-weight: 200;
			letter-spacing: -1px;
		}
	.footer .footer-right {
		flex: 1.1;
		padding-top: 47px;
		position: relative; left: 45px;
	}
	/*footer-right*/
		.footer-right p {
			font-size: 12px; color: #888;
			letter-spacing: -1px; line-height: 19px;
			word-break: keep-all;
		}
		.footer-right .copy {margin-top: 7px; color: #ccc; font-weight: 700;}
		.footer-right .copy a{display: inline;color: #ccc;}
		.footer-right .copy a:hover {text-decoration: underline;}
